{% extends 'layout.html' %}
{% load static %}

{% block title %}Blog | Entries list{% endblock %}

{% block content %}

<div id="entries-list" class="s-content">

    {% csrf_token %}

    {% if list_type == 'cat' %}
        <h3 class="page-header">Entries list by category: <span class="muted">"{{ cat_name }}"</span></h3>
    {% elif list_type == 'tag' %}
        <h3 class="page-header">Entries list by tag: <span class="muted">"{{ tag_name }}"</span></h3>
    {% elif list_type == 'search' %}
        <h3 class="page-header">Search results for: <span class="muted">"{{ search_query }}"</span></h3>
    {% elif list_type == 'year_archive' %}
        <h3 class="page-header">Entries archive for: <span class="muted">{{ year }}</span></h3>
    {% elif list_type == 'month_archive' %}
        <h3 class="page-header">Entries archive for: <span class="muted">{{ year }}, {{ month }}</span></h3>
    {% endif %}

    <div class="masonry-wrap">

        <div class="masonry">

            <div class="grid-sizer"></div>

            {% for entry in page_obj %}
            <div class="entry-block">

                <article class="masonry__brick entry format-standard animate-this">

                    <div class="entry__thumb {% if entry.entry_type == 'video' %}video-image{% endif %}">
                        <a href="
                            {% if entry.entry_type == 'standard' %}
                                {% url 'base:entry-page' entry.entry_type entry.id %}
                            {% elif entry.entry_type == 'video'%}
                                {{ entry.video_url }}
                            {% endif %}
                        " {% if entry.entry_type == 'video' %}data-lity{% endif %} class="entry__thumb-link">
                            <img src="{{ entry.image_thumb.url }}" alt="article_thumb">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <h2 class="entry__title">
                                <a href="{% url 'base:entry-page' entry.entry_type entry.id %}">{{ entry.header }}</a>
                            </h2>

                            <div class="entry__meta">
                                <span class="entry__meta-cat">
                                    <a href="{% url 'base:cat-list' entry.category_alias %}">
                                        {{ entry.category_name }}
                                    </a>
                                </span>
                                <span class="entry__meta-date">
                                    <a href="{% url 'base:month-archive' entry.pub_date.year entry.pub_date.month %}">
                                        {{ entry.pub_date|date:'M j, Y' }}
                                    </a>
                                </span>
                            </div>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>{{ entry.excerpt }}</p>
                        </div>
                    </div>

                </article>

                <!-- <article v-if="entry.entry_type === 'quote'" class="masonry__brick entry format-quote animate-this">
                        
                    <div class="entry__thumb">
                        <blockquote>
                            <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>

                            <cite>Dieter Rams</cite>
                        </blockquote>
                    </div>   

                </article>

                <article v-if="entry.entry_type === 'link'" class="masonry__brick entry format-link animate-this">
                    
                    <div class="entry__thumb">
                        <div class="link-wrap">
                            <h2>Powerful web & Wordpress hosting. Guaranteed. Starting at $2.59/mo!</h2>
                            <cite>
                                <a target="_blank" href="https://www.dreamhost.com/r.cgi?287326">https://www.dreamhost.com</a>
                            </cite>
                        </div>
                    </div>
                    
                </article> -->
                
            </div>
            {% endfor %}

        </div>

    </div>

    <div class="row pagination">

        <div class="column large-full">
            <nav class="pgn">
                <ul>
                    {% if page_obj.has_previous %}
                        <li>
                            <a class="pgn__prev" href="?page={{ page_obj.previous_page_number }}&per_page={{ per_page }}">Prev</a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <li><span class="pgn__num current">{{ num }}</span></li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li><a class="pgn__num" href="?page={{ num }}&per_page={{ per_page }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
            
                    {% if page_obj.has_next %}
                        <li>
                            <a class="pgn__next" href="?page={{ page_obj.next_page_number }}&per_page={{ per_page }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>

        <div class="column large-full">
            <div class="list-options">
                
                <span>Posts on page:</span>
                <select v-model="perPage" @change="onPerPageChanged" class="per-page-select">
                    <option value=3>3</option>
                    <option value=6>6</option>
                    <option value=12>12</option>
                    <option value=24>24</option>
                </select>

                <span>Sorting:</span>
                <select v-model="sortType" @change="onSortTypeChanged" class="sort-type-select">
                    <option value="pub_date_desc">new posts first</option>
                    <option value="pub_date_asc">old posts first</option>
                </select>

            </div>
        </div>

    </div>

</div>

<script>

    const EntriesList = new Vue({
    
        el: '#entries-list',
    
        delimiters: ['[[', ']]'],
    
        data() {
            return {
                perPage: 6,
                sortType: 'pub_date_desc',
            }
        },

        mixins: [CsrfToken],

        created() {
            $.ajax({
                url: '/get-entry-list-options',
                type: 'GET',
                dataType: 'json',
                data: {},
                success: function (response) {
                    let data = response.data;

                    this.perPage = data.per_page;   
                    this.sortType = data.sort_type; 
                        
                }.bind(this)
            });
        },
    
        methods: {
            
            onPerPageChanged(e) {
                $.ajax({
                    url: '/write-s-data',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        data: JSON.stringify([
                            {key: 'per_page', value: e.target.value},
                        ]),
                        csrfmiddlewaretoken: this.csrfToken,
                    },
                    success: function (response) {

                        refreshPage();   
                    }
                });
            },

            onSortTypeChanged(e) {}
        },
    
    });
    
</script>

{% endblock %}