{% extends 'layout.html' %}
{% load static %}

{% block title %}Blog | Entry page{% endblock %}

{% block content %}

<div class="s-content content">
    <main class="row content__page">
        
        <article class="column large-full entry format-standard">

            {% if entry.image %}
            <div class="media-wrap entry__media">
                <div class="entry__post-thumb">
                    <img src="{{ entry.image.url }}" alt="article_image">
                </div>
            </div>
            {% endif %}

            <div class="content__page-header entry__header">

                <h1 class="display-1 entry__title">
                    {{ entry.header }}
                </h1>

                <ul class="entry__header-meta">
                    <li class="author">By {{ entry.author_name }},</li>
                    <li class="date">{{ entry.pub_date|date:'F j, Y' }}</li>
                    <li class="cat-links">
                        <a href="{% url 'base:cat-list' entry.category_alias %}">
                            {{ entry.category_name }}
                        </a>
                    </li>
                </ul>

            </div>

            <div class="entry__content">

                {{ entry.text }}

                {% if entry.tags_list %}
                <p class="entry__tags">
                    <span>Post Tags</span>

                    <span class="entry__tag-list">
                        {% for tag in entry.tags_list %}
                        <a href="{% url 'base:tag-list' tag.alias %}">{{ tag.name }}</a>
                        {% endfor %}
                    </span>
    
                </p>
                {% endif %}
            </div>


            {% if entry.prev_entry or entry.next_entry %}
            <div class="entry__pagenav">
                <div class="entry__nav">

                    {% if entry.prev_entry %}
                    <div class="entry__prev">
                        <a href="{% url 'base:entry-page' entry.prev_entry.entry_type entry.prev_entry.id %}" rel="prev">
                            <span>Previous Post</span>
                            {{ entry.prev_entry.header }}
                        </a>
                    </div>
                    {% endif %}

                    {% if entry.next_entry %}
                    <div class="entry__next">
                        <a href="{% url 'base:entry-page' entry.next_entry.entry_type entry.next_entry.id %}" rel="next">
                            <span>Next Post</span>
                            {{ entry.next_entry.header }}
                        </a>
                    </div>
                    {% endif %}

                </div>
            </div>
            {% endif %}


            {% if entry.related_entries %}
            <div class="entry__related">
                <h3 class="h2">Related Articles</h3>

                <ul class="related">
                    {% for rel_entry in entry.related_entries %}
                    <li class="related__item">
                        <a href="{% url 'base:entry-page' rel_entry.entry_type rel_entry.id %}" class="related__link">
                            <img src="{{ rel_entry.image_thumb.url }}" alt="">
                        </a>
                        <h5 class="related__post-title">{{ rel_entry.header }}</h5>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

        </article>


        <div class="comments-wrap" id="entry-page-comments">

            <div id="comments" class="column large-12">

                <h3 class="h2">{{ entry.comments_list|length }} Comment{% if entry.comments_list.count > 1 %}s{% endif %}</h3>

                <ol class="commentlist">

                    {% for comment in entry.comments_list %}
                    {% if not comment.parent %}
                    <li id="comment-{{ comment.id }}" class="thread-alt depth-1 comment">

                        <div class="comment__avatar">
                            <img class="avatar" src="{{ comment.avatar_url }}" alt="" width="50" height="50">
                        </div>

                        <div class="comment__content">

                            <div class="comment__info">
                                <div class="p-comment__author">{{ comment.author_name }}</div>

                                <div class="comment__meta">
                                    <div class="p-comment__time">{{ comment.pub_date|date:'F j, Y' }}</div>
                                    <div class="comment__reply">
                                        <a class="comment-reply-link" href="#respond" @click="reply({{ comment.id }})">Reply</a>
                                    </div>
                                </div>
                            </div>

                            <div class="comment__text">
                                {{ comment.text }}
                            </div>

                        </div>

                        {% if comment.child_count > 0 %}
                        {% for reply in comment.children %}
                        <ul class="children">

                            <li class="depth-2 comment">

                                <div class="comment__avatar">
                                    <img class="avatar" src="{{ reply.avatar_url }}" alt="" width="50" height="50">
                                </div>

                                <div class="comment__content">

                                    <div class="comment__info">
                                        <div class="comment__author">{{ reply.author_name }}</div>

                                        <div class="comment__meta">
                                            <div class="comment__time">{{ reply.pub_date|date:'F j, Y' }}</div>
                                        </div>
                                    </div>

                                    <div class="comment__text">
                                        {{ reply.text }}
                                    </div>

                                </div>

                            </li>

                        </ul>
                        {% endfor %}
                        {% endif %}

                    </li>
                    {% endif %}
                    {% endfor %}

                </ol>

            </div>


            <div class="column large-12 comment-respond">

                <div id="respond">
    
                    <h3 v-if="mode === 'comment'" class="h2">Add Comment <span>Your email address will not be published</span></h3>
                    <h3 v-if="mode === 'reply'" class="h2">Add Reply <span>Your email address will not be published</span></h3>

                    <p v-if="mode === 'reply'" class="reply-details">
                        Response to comment by <b>[[ replyTargetAuthor ]]</b> (<span class="muted">[[ replyTargetPubDate ]]</span>)
                        <a href="" @click.prevent="cancelReply">cancel</a>
                    </p>
    
                    <form name="contactForm" id="contactForm" method="post" action="" autocomplete="off">
                        <fieldset>

                            {% csrf_token %}
                            <input type="hidden" name="entry-id" value="{{ entry.id }}">
    
                            <div class="form-field">
                                <input v-model="formData.name" class="full-width" :class="{ 'error': errors.name }" placeholder="Your Name" type="text">
                            </div>
    
                            <div class="form-field">
                                <input v-model="formData.email" class="full-width" :class="{ 'error': errors.email }" placeholder="Your Email" type="text">
                            </div>
    
                            <div class="message form-field">
                                <textarea v-model="formData.message" class="full-width" :class="{ 'error': errors.message }" placeholder="Your Message"></textarea>
                            </div>

                            <transition name="fade">
                                <div v-if="commentSendResult === 'success'" class="alert-box alert-box--success">
                                    <p>Your comment successfully sended.</p>
                                </div>
                                <div v-if="commentSendResult === 'error'" class="alert-box alert-box--error">
                                    <p>Comment sending error.</p>
                                </div>
                                <div v-if="commentValidateResult === 'error'" class="alert-box alert-box--error">
                                    <p>Form validation errors:</p>
                                    <ul>
                                        <li v-for="errorMsg in errorMessages">
                                            [[ errorMsg ]]
                                        </li>
                                    </ul>
                                </div>
                            </transition>
    
                            <input @click.prevent="send" class="btn btn--primary btn-wide btn--large full-width" value="Add Comment" type="submit">
    
                        </fieldset>
                    </form>
    
                </div>
    
            </div>
    
        </div>
    </main>

</div>

<script>

    const initFormData = {
        name: '',
        email: '',
        message: '',
    };

    const EntryPageComments = new Vue({
    
        el: '#entry-page-comments',
    
        delimiters: ['[[', ']]'],
    
        data() {
            return {

                mode: 'comment',
                commentSendResult: '',
                commentValidateResult: '',
                formData: clone(initFormData),

                replyTargetId: 0,
                replyTargetAuthor: '',
                replyTargetPubDate: '',

                validationRules: {
                    name: {
                        fieldName: 'Name',
                        type: 'text',
                        required: true,
                        max: 150,
                    },
                    email: {
                        fieldName: 'Email',
                        type: 'text',
                        required: false,
                        validation: 'email',
                        max: 100,
                    },
                    message: {
                        fieldName: 'Message',
                        type: 'text',
                        required: true,
                        max: 1000,
                    },
                },

                errors: {
                    name: false,
                    email: false,
                    message: false,
                },

                errorMessages: [],
            }
        },

        mixins: [CsrfToken],
    
        methods: {

            reply(commentId) {

                this.replyTargetId = commentId;
                this.replyTargetAuthor = $('#comment-'+commentId+' .p-comment__author').text();
                this.replyTargetPubDate = $('#comment-'+commentId+' .p-comment__time').text();
                this.mode = 'reply';
            },

            cancelReply() {

                this.replyTargetId = 0;
                this.mode = 'comment';
            },
            
            send() {
                if (!this.validateForm()) return;

                $.ajax({
                    url: '/add-comment',
                    type: 'POST',
                    dataType: 'json',
                    data: {
                        form_data: JSON.stringify(this.formData),
                        entry_id: $('input[name="entry-id"]').val(),
                        is_reply: (this.mode === 'reply') ? 1 : 0,
                        reply_parent_id: this.replyTargetId,
                        csrfmiddlewaretoken: this.csrfToken,
                    },
                    success: function(response) {

                        if (response.status === RESP_STATUS_ERROR) {
                            this.commentSendError();
                            return;
                        }

                        this.commentSendResult = 'success';
                        refreshPage(1500, false);
                        
                    }.bind(this),
                    error: function() {

                        this.commentSendError();
                    }.bind(this)
                });
            },

            commentSendError() {
                this.commentSendResult = 'error';

                setTimeout(function() {
                    this.commentSendResult = '';
                }.bind(this), 3000);
            },

            validateForm() {
                let valid = true;

                for (let error in this.errors) {
                    this.errors[error] = false;
                }
                this.errorMessages = [];

                for (let field in this.formData) {

                    let rules = this.validationRules[field] || null;
                    let value = this.formData[field];

                    if (!rules) continue;

                    if (rules.required) {
                        let error = '';

                        switch (rules.type) {
                            case 'text': {
                                if (value === '') {
                                    error = `Field '${rules.fieldName}' is required.`
                                }
                                break;
                            }
                        }

                        if (error.length > 0) {
                            this.errors[field] = true;
                            this.errorMessages.push(error);
                            valid = false;
                        }  
                    }

                    if (rules.validation && value.length > 0) {
                        let error = '';

                        switch (rules.validation) {

                            case 'email': {
                                let regex = /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i;
                                if (!regex.test(String(value).toLowerCase())) {
                                    error = `Field '${rules.fieldName}' must be a valid email address.`;
                                }
                                break;
                            }
                        }

                        if (error.length > 0) {
                            this.errors[field] = true;
                            this.errorMessages.push(error);
                            valid = false;
                        }
                    }

                    //if field length smaller than min rule length
                    if (valid && rules.min && value.length < rules.min) {
                        this.errorMessages.push(
                            `Field '${rules.fieldName}' is smaller than min field constraint (${rules.min} symbols).`
                        );
                        this.errors[field] = true;
                        valid = false;
                    }

                    //if field length bigger than max rule length
                    if (valid && rules.max && value.length > rules.max) {
                        this.errorMessages.push(
                            `Field '${rules.fieldName}' is bigger than max field constraint (${value.length}/${rules.max} symbols).`
                        );
                        this.errors[field] = true;
                        valid = false;
                    }
                }

                if (!valid) {
                    this.commentValidateResult = 'error';
                    setTimeout(function() {
                        this.commentValidateResult = '';
                    }.bind(this), 6000);
                }
                return valid;
            }
        },
    
    });
    
</script>

{% endblock %}