{% extends 'layout.html' %}
{% load static %}

{% block title %}Blog | Main page{% endblock %}

{% block content %}

<div id="entries-list" class="content-wrap">
    <div class="masonry-wrap">

        <div class="masonry">

            <div class="grid-sizer"></div>

            <div v-for="entry in entriesList" :key="entry.id" class="entry-block">

                <article v-if="entry.entry_type === 'standard'" class="masonry__brick entry format-standard animate-this">

                    <div class="entry__thumb">
                        <a :href="entry.entry_page_link" class="entry__thumb-link">
                            <img :src="entry.image_thumb_link" alt="article_thumb">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">

                            <h2 class="entry__title">
                                <a :href="entry.entry_page_link">[[entry.header]]</a>
                            </h2>

                            <div class="entry__meta">
                                <span class="entry__meta-cat">
                                    <a :href="entry.cat_list_link">[[entry.category]]</a>
                                </span>
                                <span class="entry__meta-date">
                                    <a :href="entry.month_archive_link">[[entry.pub_date]]</a>
                                </span>
                            </div>
                            
                        </div>
                        <div class="entry__excerpt">
                            <p>[[entry.excerpt]]</p>
                        </div>
                    </div>

                </article>

                <!-- <article v-if="entry.entry_type === 'video'" class="masonry__brick entry format-video animate-this">
                        
                    <div class="entry__thumb video-image">
                        <a href="https://player.vimeo.com/video/117310401?color=339989&title=0&byline=0&portrait=0" data-lity class="entry__thumb-link">
                            <img src="{% static 'base/img/thumbs/masonry/cookies-600.jpg' %}" 
                                srcset="{% static 'base/img/thumbs/masonry/cookies-600.jpg' %} 1x, {% static 'base/img/thumbs/masonry/cookies-1200.jpg' %} 2x" alt="">
                        </a>
                    </div>

                    <div class="entry__text">
                        <div class="entry__header">
                            <h2 class="entry__title"><a href="single-video.html">No Sugar Oatmeal Cookies.</a></h2>
                            <div class="entry__meta">
                                <span class="entry__meta-cat">
                                    <a href="category.html">Lifestyle</a>
                                    <a href="category.html">Health</a>
                                </span>
                                <span class="entry__meta-date">
                                    <a href="single-standard.html">Apr 24, 2019</a>
                                </span>
                            </div>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                            Lorem ipsum Sed eiusmod esse aliqua sed incididunt aliqua incididunt mollit id et sit proident dolor nulla sed commodo est ad minim elit reprehenderit nisi officia aute incididunt velit sint in aliqua...
                            </p>
                        </div>
                    </div>

                </article>

                <article v-if="entry.entry_type === 'quote'" class="masonry__brick entry format-quote animate-this">
                        
                    <div class="entry__thumb">
                        <blockquote>
                            <p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p>

                            <cite>Dieter Rams</cite>
                        </blockquote>
                    </div>   

                </article>

                <article v-if="entry.entry_type === 'link'" class="masonry__brick entry format-link animate-this">
                    
                    <div class="entry__thumb">
                        <div class="link-wrap">
                            <h2>Powerful web & Wordpress hosting. Guaranteed. Starting at $2.59/mo!</h2>
                            <cite>
                                <a target="_blank" href="https://www.dreamhost.com/r.cgi?287326">https://www.dreamhost.com</a>
                            </cite>
                        </div>
                    </div>
                    
                </article> -->
                
            </div>

        </div>

    </div>

    <div class="row">
        <div class="column large-full">
            <nav class="pgn">
                <ul>
                    <li><a class="pgn__prev" href="#0">Prev</a></li>
                    <li><a class="pgn__num" href="#0">1</a></li>
                    <li><span class="pgn__num current">2</span></li>
                    <li><a class="pgn__num" href="#0">3</a></li>
                    <li><a class="pgn__num" href="#0">4</a></li>
                    <li><a class="pgn__num" href="#0">5</a></li>
                    <li><span class="pgn__num dots">…</span></li>
                    <li><a class="pgn__num" href="#0">8</a></li>
                    <li><a class="pgn__next" href="#0">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>


<script>

const EntriesList = new Vue({

    el: '#entries-list',

    delimiters: ['[[', ']]'],

    data() {
        return {

            entriesList: [],
        }
    },

    beforeCreate() {
        $.ajax({
            url: '/get-entries-list',
            type: 'GET',
            dataType: 'json',
            data: {},
            success: function(response) { console.log(response);
                
                this.entriesList = response.data;

            }.bind(this)
        });
    },

    methods: {

    },

});

</script>

{% endblock %}